@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    margin: 0;
    background-color: #f2f2f2 !important;
}

.top-profile-bar {
    display: grid;
    grid-auto-flow: column;
    background-color: #333;
    grid-gap: 1.5em;
    padding: 0 130px;

    .container {
        .row {
            .column {
                .top-profile-bar-options {
                    list-style: none;
                    margin: 5px;
                    padding: 0;

                    li {
                        display: inline;

                        .for-companies {
                            float: right;
                            border-right: none;
                            border-left: 1px solid #c7c7c7;
                        }

                        a {
                            font-family: 'Roboto', sans-serif;
                            text-decoration: none;
                            padding: 0 15px;
                            color: #c7c7c7;
                            border-right: 1px solid #c7c7c7;
                            font-size: 13px;

                            i {
                                padding-right: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav {
    display: grid;
    grid-auto-flow: column;
    background-color: #d2d2d2;
    grid-gap: 1.5em;
    padding: 0 150px;


    .header {
        display: grid;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1.5em;
        font-family: 'Roboto', sans-serif;

        .logo {
            h1 {
                font-family: 'Roboto', sans-serif;
                text-transform: lowercase;
                color: #0096db;

                span {
                    color: white;
                    text-transform: uppercase;
                    background-color: red;
                    padding: 10px;
                    font-size: 0.8em;
                    border-radius: 50%;
                }
            }
        }
    }

    .shopping-cart-and-search {
        display: grid;
        justify-content: right;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1.5em;
        font-family: 'Roboto', sans-serif;

        .search {
            width: 300px;
            padding-right: 10px;

            input {
                width: 100%;
                border-radius: 5px;
                border: none;
                padding: 10px;
            }
        }

        .shopping-cart-buttons {
            button {
                padding: 10px;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
            }

            .shopping-cart {
                border-radius: 5px;
                border: none;
                margin-right: 4px;
            }

            .checkout {
                background-color: #6b99c1;
                border-radius: 5px;
                border: none;
                color: white;
            }
        }
    }
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    background-color: #d2d2d2;
    grid-gap: 1.5em;
    padding: 0 150px;

    .navbar-nav {
        padding-bottom: 8px;

        .links {
            a {
                font-family: 'Roboto', sans-serif;
                font-size: 13px;
                text-decoration: none;
                color: white;
                background-color: #0096db;
                border: 1px solid #0096db;
                padding: 8px;
                border-radius: 5px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &:hover {
                    background-color: #337ab7;
                    transition: 0.3s;
                }

            }
        }
    }
}

.campaign-hero {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 20px 150px;

    .firstImage,
    .secondImage,
    .thirdImage {
        display: grid;
        justify-content: center;
        align-content: center;
        max-width: 100%;

        img {
            width: 100%;
            object-fit: contain;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
                transition: 0.5s ease-in-out;
            }
        }

        p {
            text-align: center;
            font-size: 25px;
            padding: 10px;
            border: 1px solid rgb(214, 196, 196);
            color: black;
            font-family: 'Rock Salt', cursive;
            background-color: #f2f2f2 !important;
            cursor: pointer;
        }
    }
}

.products-hero {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 20px 150px;
    border: 1px solid rgb(214, 196, 196);

    .firstImage,
    .secondImage,
    .thirdImage,
    .fourthImage,
    .fifthImage,
    .sixthImage {
        display: grid;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        border: 1px solid rgb(214, 196, 196);
        padding: 0 25px;

        img {
            width: 100%;
            object-fit: contain;
            height: 200px;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
                transition: 0.5s ease-in-out;
            }
        }

        .productTitle {
            text-align: left;
            font-size: 15px;
            font-weight: bold;
            padding: 10px;
            padding-left: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            color: black;
            font-family: 'Roboto', sans-serif;
            background-color: #f2f2f2 !important;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: #0096db;
            }
        }

        .additional-Information {
            p {
                cursor: text;
                text-align: left;
                font-size: 12px;
                font-weight: normal;
                color: black;
                font-family: 'Roboto', sans-serif;
                color: #a2a2a2;
            }

            ul {
                padding-left: 20px;
                li {
                    cursor: text;
                    text-align: left;
                    font-size: 12px;
                    font-weight: normal;
                    color: black;
                    font-family: 'Roboto', sans-serif;
                    color: #a2a2a2;
                }
            }

            .price {
                padding-left: 10px;
                cursor: text;
                text-align: left;
                font-size: 20px;
                font-weight: bold;
                color: black;
                font-family: 'Roboto', sans-serif;
                color: #ea2425;
            }
        }

    }
}