@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  background-color: #f2f2f2 !important;
}

.top-profile-bar {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #333;
  grid-gap: 1.5em;
  padding: 0 130px;
}

.top-profile-bar .container .row .column .top-profile-bar-options {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.top-profile-bar .container .row .column .top-profile-bar-options li {
  display: inline;
}

.top-profile-bar .container .row .column .top-profile-bar-options li .for-companies {
  float: right;
  border-right: none;
  border-left: 1px solid #c7c7c7;
}

.top-profile-bar .container .row .column .top-profile-bar-options li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 0 15px;
  color: #c7c7c7;
  border-right: 1px solid #c7c7c7;
  font-size: 13px;
}

.top-profile-bar .container .row .column .top-profile-bar-options li a i {
  padding-right: 2px;
}

.nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.nav .header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav .header .logo h1 {
  font-family: 'Roboto', sans-serif;
}

.nav .header .logo h1 span {
  color: red;
}

.nav .shopping-cart-and-search {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav .shopping-cart-and-search .search {
  width: 300px;
  padding-right: 10px;
}

.nav .shopping-cart-and-search .search input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.nav .shopping-cart-and-search .shopping-cart-buttons button {
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.nav .shopping-cart-and-search .shopping-cart-buttons .shopping-cart {
  border-radius: 5px;
  border: none;
  margin-right: 4px;
}

.nav .shopping-cart-and-search .shopping-cart-buttons .checkout {
  background-color: #6b99c1;
  border-radius: 5px;
  border: none;
  color: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.navbar .navbar-nav {
  padding-bottom: 8px;
}

.navbar .navbar-nav .links a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: white;
  background-color: #0096db;
  border: 1px solid #0096db;
  padding: 8px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .navbar-nav .links a:hover {
  background-color: #337ab7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.campaign-hero {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #f2f2f2 !important;
  grid-gap: 1.5em;
  padding: 0 150px;
  width: 80%;
  padding-top: 20px;
}

.campaign-hero .techontech-slideshow-content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.campaign-hero .techontech-slideshow-content .mySlides {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  cursor: pointer;
}

.campaign-hero .techontech-slideshow-content .mySlides:first-of-type {
  display: block;
}

.campaign-hero .techontech-slideshow-content .slideshow-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 340px;
  margin-left: 15px;
}

.campaign-hero .techontech-slideshow-content .slideshow-controls .display-right {
  margin-left: 10px;
}

.campaign-hero .techontech-slideshow-content .slideshow-controls button {
  cursor: pointer;
  z-index: 2;
  padding: 5px;
  background-color: #d2d2d2;
  color: black;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  opacity: 0.1;
}

.campaign-hero .techontech-slideshow-content .slideshow-controls button:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.campaign-hero .campaigns-and-offers img {
  display: block;
  max-width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */