@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-color: #f2f2f2 !important;
}

.top-profile-bar {
    display: grid;
    grid-auto-flow: column;
    background-color: #333;
    grid-gap: 1.5em;
    padding: 0 130px;

    .container {
        .row {
            .column {
                .top-profile-bar-options {
                    list-style: none;
                    margin: 5px;
                    padding: 0;

                    li {
                        display: inline;

                        .for-companies {
                            float: right;
                            border-right: none;
                            border-left: 1px solid #c7c7c7;
                        }

                        a {
                            font-family: 'Roboto', sans-serif;
                            text-decoration: none;
                            padding: 0 15px;
                            color: #c7c7c7;
                            border-right: 1px solid #c7c7c7;
                            font-size: 13px;

                            i {
                                padding-right: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav {
    display: grid;
    grid-auto-flow: column;
    background-color: #d2d2d2;
    grid-gap: 1.5em;
    padding: 0 150px;


    .header {
        display: grid;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1.5em;
        font-family: 'Roboto', sans-serif;

        .logo {
            h1 {
                font-family: 'Roboto', sans-serif;

                span {
                    color: red;
                }
            }
        }
    }

    .shopping-cart-and-search {
        display: grid;
        justify-content: right;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1.5em;
        font-family: 'Roboto', sans-serif;

        .search {
            width: 300px;
            padding-right: 10px;

            input {
                width: 100%;
                border-radius: 5px;
                border: none;
                padding: 10px;
            }
        }

        .shopping-cart-buttons {
            button {
                padding: 10px;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
            }

            .shopping-cart {
                border-radius: 5px;
                border: none;
                margin-right: 4px;
            }

            .checkout {
                background-color: #6b99c1;
                border-radius: 5px;
                border: none;
                color: white;
            }
        }
    }
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    background-color: #d2d2d2;
    grid-gap: 1.5em;
    padding: 0 150px;

    .navbar-nav {
        padding-bottom: 8px;

        .links {
            a {
                font-family: 'Roboto', sans-serif;
                font-size: 13px;
                text-decoration: none;
                color: white;
                background-color: #0096db;
                border: 1px solid #0096db;
                padding: 8px;
                border-radius: 5px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &:hover {
                    background-color: #337ab7;
                    transition: 0.3s;
                }

            }
        }
    }
}

.campaign-hero {
    display: grid;
    grid-auto-flow: column;
    background-color: #f2f2f2 !important;
    grid-gap: 1.5em;
    padding: 0 150px;
    padding-top: 20px;

    .techontech-slideshow-content {
        .mySlides {
            width: 70%;
            display: none;
            cursor: pointer;
        }

        .mySlides:first-of-type {
            display: block;
        }

        .slideshow-controls {
            position: relative;
            bottom: 60px;
            left: 10px;
            button {
                cursor: pointer;
                z-index: 2;
                padding: 5px;
                background-color: #d2d2d2;
                color: black;
                border-radius: 50%;
                border: none;
                width: 50px;
                height: 50px;
                opacity: 0.2;

                &:hover {
                    opacity: 1;
                    transition: 0.5s ease-in;
                }
            }
        }
    }
}