@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
  margin: 0;
  background-color: white;
}

.top-profile-bar {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #333;
  grid-gap: 1.5em;
  padding: 0 130px;
}

.top-profile-bar .container .row .column .top-profile-bar-options {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.top-profile-bar .container .row .column .top-profile-bar-options li {
  display: inline;
}

.top-profile-bar .container .row .column .top-profile-bar-options li .for-companies {
  float: right;
  border-right: none;
  border-left: 1px solid #c7c7c7;
}

.top-profile-bar .container .row .column .top-profile-bar-options li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 0 15px;
  color: #c7c7c7;
  border-right: 1px solid #c7c7c7;
  font-size: 13px;
}

.top-profile-bar .container .row .column .top-profile-bar-options li a i {
  padding-right: 2px;
}

.nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.nav .header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav .header .logo h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  color: #0096db;
}

.nav .header .logo h1 span {
  color: white;
  text-transform: uppercase;
  background-color: red;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 50%;
}

.nav .shopping-cart-and-search {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav .shopping-cart-and-search .search {
  width: 300px;
  padding-right: 10px;
}

.nav .shopping-cart-and-search .search input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.nav .shopping-cart-and-search .shopping-cart-buttons button {
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.nav .shopping-cart-and-search .shopping-cart-buttons .shopping-cart {
  border-radius: 5px;
  border: none;
  margin-right: 4px;
}

.nav .shopping-cart-and-search .shopping-cart-buttons .checkout {
  background-color: #6b99c1;
  border-radius: 5px;
  border: none;
  color: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.navbar .navbar-nav {
  padding-bottom: 8px;
}

.navbar .navbar-nav .links a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: white;
  background-color: #0096db;
  border: 1px solid #0096db;
  padding: 8px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .navbar-nav .links a:hover {
  background-color: #337ab7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.campaign-hero {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  padding: 20px 150px;
}

.campaign-hero .firstImage,
.campaign-hero .secondImage,
.campaign-hero .thirdImage {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
}

.campaign-hero .firstImage img,
.campaign-hero .secondImage img,
.campaign-hero .thirdImage img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.campaign-hero .firstImage img:hover,
.campaign-hero .secondImage img:hover,
.campaign-hero .thirdImage img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.campaign-hero .firstImage p,
.campaign-hero .secondImage p,
.campaign-hero .thirdImage p {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  border: 1px solid #d6c4c4;
  color: black;
  font-family: 'Rock Salt', cursive;
  background-color: white;
  cursor: pointer;
}

.products-header {
  display: -ms-grid;
  display: grid;
  background-color: white;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  padding: 0 150px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #d6c4c4;
  margin: 0 auto;
}

.products-header h3 {
  font-weight: normal;
}

.products-hero {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  background-color: white;
  padding: 20px 150px;
  border-bottom: 1px solid #d6c4c4;
}

.products-hero .firstImage,
.products-hero .secondImage,
.products-hero .thirdImage,
.products-hero .fourthImage,
.products-hero .fifthImage,
.products-hero .sixthImage {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
  border: 1px solid #d6c4c4;
  padding: 10px 25px;
}

.products-hero .firstImage img,
.products-hero .secondImage img,
.products-hero .thirdImage img,
.products-hero .fourthImage img,
.products-hero .fifthImage img,
.products-hero .sixthImage img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 200px;
  cursor: pointer;
}

.products-hero .firstImage img:hover,
.products-hero .secondImage img:hover,
.products-hero .thirdImage img:hover,
.products-hero .fourthImage img:hover,
.products-hero .fifthImage img:hover,
.products-hero .sixthImage img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.products-hero .firstImage .productTitle,
.products-hero .secondImage .productTitle,
.products-hero .thirdImage .productTitle,
.products-hero .fourthImage .productTitle,
.products-hero .fifthImage .productTitle,
.products-hero .sixthImage .productTitle {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: black;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  cursor: pointer;
}

.products-hero .firstImage .productTitle:hover,
.products-hero .secondImage .productTitle:hover,
.products-hero .thirdImage .productTitle:hover,
.products-hero .fourthImage .productTitle:hover,
.products-hero .fifthImage .productTitle:hover,
.products-hero .sixthImage .productTitle:hover {
  text-decoration: underline;
  color: #0096db;
}

.products-hero .firstImage .additional-Information p,
.products-hero .secondImage .additional-Information p,
.products-hero .thirdImage .additional-Information p,
.products-hero .fourthImage .additional-Information p,
.products-hero .fifthImage .additional-Information p,
.products-hero .sixthImage .additional-Information p {
  cursor: text;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: black;
  font-family: 'Roboto', sans-serif;
  color: #a2a2a2;
}

.products-hero .firstImage .additional-Information ul,
.products-hero .secondImage .additional-Information ul,
.products-hero .thirdImage .additional-Information ul,
.products-hero .fourthImage .additional-Information ul,
.products-hero .fifthImage .additional-Information ul,
.products-hero .sixthImage .additional-Information ul {
  padding-left: 20px;
}

.products-hero .firstImage .additional-Information ul li,
.products-hero .secondImage .additional-Information ul li,
.products-hero .thirdImage .additional-Information ul li,
.products-hero .fourthImage .additional-Information ul li,
.products-hero .fifthImage .additional-Information ul li,
.products-hero .sixthImage .additional-Information ul li {
  cursor: text;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  color: black;
  font-family: 'Roboto', sans-serif;
  color: #a2a2a2;
}

.products-hero .firstImage .additional-Information .price,
.products-hero .secondImage .additional-Information .price,
.products-hero .thirdImage .additional-Information .price,
.products-hero .fourthImage .additional-Information .price,
.products-hero .fifthImage .additional-Information .price,
.products-hero .sixthImage .additional-Information .price {
  padding-left: 10px;
  cursor: text;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'Roboto', sans-serif;
  color: #ea2425;
}

.holiday-hero {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  padding: 20px 150px;
}

.holiday-hero .firstImage,
.holiday-hero .secondImage {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
}

.holiday-hero .firstImage img,
.holiday-hero .secondImage img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.holiday-hero .firstImage img:hover,
.holiday-hero .secondImage img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.fourthHero {
  display: -ms-grid;
  display: grid;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #333;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.fourthHero .shippingInformation,
.fourthHero .moreShippingInformation,
.fourthHero .safePay,
.fourthHero .news {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 100%;
}

.fourthHero .shippingInformation p,
.fourthHero .moreShippingInformation p,
.fourthHero .safePay p,
.fourthHero .news p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.fifthHero {
  display: -ms-grid;
  display: grid;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 20px 150px;
}

.fifthHero .shoppingNavigationLinks,
.fifthHero .webPages,
.fifthHero .customerSupportNavigationLinks {
  padding: 0 150px;
  margin-top: 0;
  list-style-type: none;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  grid-auto-flow: column;
  grid-gap: 1.5em;
}

.fifthHero .shoppingNavigationLinks .nav-title,
.fifthHero .webPages .nav-title,
.fifthHero .customerSupportNavigationLinks .nav-title {
  padding-bottom: 5px;
}

.fifthHero .shoppingNavigationLinks .nav-title a,
.fifthHero .webPages .nav-title a,
.fifthHero .customerSupportNavigationLinks .nav-title a {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.fifthHero .shoppingNavigationLinks li a,
.fifthHero .webPages li a,
.fifthHero .customerSupportNavigationLinks li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: #666;
  font-size: 13px;
}

.fifthHero .shoppingNavigationLinks li a:hover,
.fifthHero .webPages li a:hover,
.fifthHero .customerSupportNavigationLinks li a:hover {
  text-decoration: underline;
  color: #0096db;
}

.footer {
  display: -ms-grid;
  display: grid;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.footer .copyrightInformationTrademark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer p {
  text-align: center;
  text-transform: capitalize;
  font-size: 13px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.picturesForFooter {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #d2d2d2;
  grid-gap: 1.5em;
  padding: 0 150px;
}

.picturesForFooter .footerPicture {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */